.order-item{
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    border: 1px solid var(--greeting-color);
    padding: 1.4rem;
    margin: 1.8rem 0rem;
    font-size: 1rem;
    color: var(--black-color);
    select{
        background: orange;
        width: max(10vw,4rem);
        padding:.4rem;
        outline: none;
        background: var(--white-color);
    }
}
.orde-item-food,.order-item-name{
    font-weight: 600;
}
.order-item-name{
 margin: 1.8rem 0rem .4rem 0rem;   
}
.order-item-address{
    margin-bottom: .8rem;
}
@media (width<=1024px) {
    .order-item{
        font-size: .5rem;
        grid-template-columns: .5fr 2fr 1fr;
        padding: 1rem;
        & select {
            width: 2.8rem;
            padding: .5rem;
            font-size: 2.8rem;
        }
        & img{
            width: 2rem;
        }
    }

}