.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4%;
    width: 100%;
    .logo{
        width: 5rem;
    }
    .profile{
        width: 2.8rem;
    }
    .admin-img{
        height: 4.8rem;
    }
}